<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="isInvalid">
                无效的用户名或密码.
            </div>
            <div class="alert alert-info" *ngIf="isLogout">
                您已登出！
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header">登陆</div>
                <div class="card-body">
                    <form #form='ngForm' (ngSubmit)="onSubmit()">

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">用户名</label>

                            <div class="col-md-6">
                                <input id="email" type="text" class="form-control form-control-lg" name="email" placeholder="请输入用户名" [(ngModel)]="model.username" required autocomplete="email" autofocus #email="ngModel">

                                <span class="invalid-feedback" role="alert" [hidden]="email.valid || email.pristine">
                                        <strong>邮箱必填！</strong>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">密码</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control form-control-lg" name="password" placeholder="请输入密码" required autocomplete="password" [(ngModel)]="model.password" #password='ngModel'>

                                <span class="invalid-feedback" role="alert" [hidden]="password.valid || password.pristine">
                                        <strong>邮箱必填！</strong>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember-me" id="remember_me" [(ngModel)]="model.remembered">

                                    <label class="form-check-label" for="remember_me">
                                        记住我
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-12">
                                <button [disabled]="!form.form.valid" type="submit" class="btn btn-primary btn-block">
                                    登陆
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
