<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="isInvalid">
                Invalid username and password.
            </div>
            <div class="alert alert-info" *ngIf="isLogout">
                You have been logged out.
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header">Sign In</div>
                <div class="card-body">
                    <form #form='ngForm' (ngSubmit)="onSubmit()">

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email address</label>

                            <div class="col-md-6">
                                <input id="email" type="text" class="form-control form-control-lg" name="email" placeholder="Enter email" [(ngModel)]="model.username" required autocomplete="email" autofocus #email="ngModel">

                                <span class="invalid-feedback" role="alert" [hidden]="email.valid || email.pristine">
                                        <strong>Email is required</strong>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control form-control-lg" name="password" required autocomplete="password" [(ngModel)]="model.password" #password='ngModel'>

                                <span class="invalid-feedback" role="alert" [hidden]="password.valid || password.pristine">
                                        <strong>Email is required</strong>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember-me" id="remember_me" [(ngModel)]="model.remembered">

                                    <label class="form-check-label" for="remember_me">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-12">
                                <button [disabled]="!form.form.valid" type="submit" class="btn btn-primary btn-block">
                                    Sign In
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2 col-lg-5">
            <strong>Sample Users</strong>
            <table style="width: 100%;" id="sampleLoginTable">
                <tr>
                    <td><a
                            (click)="fillLoginFields('customer1@email.com','123')"
                            href="javascript:void(0)">customer1</a></td>
                    <td><a
                            (click)="fillLoginFields('employee1@email.com','123')"
                            href="javascript:void(0)">employee1</a></td>
                    <td><a
                            (click)="fillLoginFields('manager1@email.com','123')"
                            href="javascript:void(0)">manager1</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
