<nav class="navbar navbar-expand-md navbar-light navbar-laravel ui main borderless menu top stackable topnav navbar-nav navbar-nav-scroll">
    <div class="container">
        <a class="navbar-brand huaq-brand" [routerLink]="root">
            <img src="/assets/flower.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            花Q视频站
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <div class="navbar-nav" *ngIf="!currentUser || currentUser.role == Role.Customer">

                <a class="nav-item nav-link "
                   routerLink="/category/0">
                    动漫
                </a>
                <a class="nav-item nav-link"
                   routerLink="/category/1" i18n>
                    电视剧
                </a>
                <a class="nav-item nav-link "
                   routerLink="/category/2">
                    电影
                </a>

            </div>

            <div class="navbar-nav ml-auto">


                <ng-container *ngIf="currentUser; else noUser">

                    <a class="nav-item nav-link " routerLink="/profile">
                        {{name}}
                    </a>
                    <a class="nav-item nav-link " (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
                        <i class="fas fa-sign-out-alt"></i>
                        Sign Out
                    </a>
                </ng-container>
                <ng-template #noUser>
                    <a class="nav-item nav-link " routerLink="/login" i18n>
                        <i class="fas fa-sign-in-alt"></i>
                       登陆
                    </a>
                    <a class="nav-item nav-link " routerLink="/register" i18n>
                        <i class="fas fa-user-plus"></i>
                       注册
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</nav>
